In [1]:
import numpy as np
import pandas as pd
import csv
from scipy.stats import pearsonr

In [2]:
prices = pd.read_csv('N225.csv', index_col = 'Date')

In [3]:
prices = prices.dropna()   #Drop invalid data
prices.sort_index(ascending=False, inplace=True)   #Sort in descendent order
prices['returns'] = (np.log(prices.Close / prices.Close.shift(-1)))   #Calculate daily returns

In [4]:
daily_std = np.std(prices.returns)
print("Vol for Nikkei-225 is", daily_std)

Vol for Nikkei-225 is 0.012061459766969823

In [5]:
ex_rate = pd.read_csv('dollar-yen-exchange-rate-historical-chart.csv', index_col = 'date')

In [6]:
ex_rate.sort_index(ascending=False, inplace=True)
ex_rate = ex_rate.rename(columns={' value': 'value'})   #Sort in descendent order
ex_rate['returns'] = (np.log(ex_rate.value / ex_rate.value.shift(-1)))   #Calculate daily returns

In [7]:
daily_std_ex = np.std(ex_rate.returns)
print("Vol for USD-JPY exchange rate is", daily_std_ex)

Vol for USD-JPY exchange rate is 0.004055125840025642

In [8]:
Libor = pd.read_csv('LIBOR_USD.csv', index_col = 'Date')

In [10]:
Libor['returns'] = (np.log(Libor.Three_Months / Libor.Three_Months.shift(-1)))   #Calculate daily returns

In [11]:
Libor_std = np.std(Libor.returns)
print("Vol for Libor is", Libor_std)

Vol for Libor is 0.02706690514545634

In [12]:
Li = Libor.returns
Li.dropna()

Date
28.04.2022    0.037345
27.04.2022    0.000581
26.04.2022    0.010784
25.04.2022    0.009145
22.04.2022    0.024783
                ...
08.05.2017    0.003527
05.05.2017    0.000941
04.05.2017    0.006858
03.05.2017   -0.002132
02.05.2017    0.001185
Name: returns, Length: 1264, dtype: float64

In [13]:
Li = Li[0:1218]

In [14]:
pr = prices.returns
pr = pr.dropna()

In [15]:
ex = ex_rate.returns[0:1218]

In [16]:
corr = pearsonr(pr, ex)
print("Correlation between Nikkei-225 and exchange rate is", corr[1])

Correlation between Nikkei-225 and exchange rate is 0.036397916482133884

In [17]:
corr2 = pearsonr(pr, Li)
print("Correlation between Nikkei-225 Libor rate is", corr2[1])

Correlation between Nikkei-225 Libor rate is 0.1585817213425081

In [18]:
T_bond = pd.read_csv('daily-treasury-rates.csv', index_col = 'Date')

In [19]:
T_bond

            Three_Mo
Date
05/10/2022      0.89
05/09/2022      0.92
05/06/2022      0.85
05/05/2022      0.85
05/04/2022      0.89
...              ...
01/09/2017      0.60
01/06/2017      0.61
01/05/2017      0.62
01/04/2017      0.63
01/03/2017      0.65

[1340 rows x 1 columns]

In [20]:
T_bond = T_bond[T_bond['Three_Mo']!=0]  #Drop invalid data

In [21]:
T_bond['returns'] = (np.log(T_bond.Three_Mo / T_bond.Three_Mo.shift(-1)))   #Calculate daily returns

/var/folders/dn/tw71gbhs1wl0sj96pqvw73180000gn/T/ipykernel_4453/422421278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  T_bond['returns'] = (np.log(T_bond.Three_Mo / T_bond.Three_Mo.shift(-1)))   #Calculate daily returns

In [22]:
daily_std_T = np.std(T_bond.returns)
print("Vol for T-bond is", daily_std_T)

Vol for T-bond is 0.15539427910616832